name: Snapshot

on:
  workflow_dispatch:
  pull_request:
    branches: [main]
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  snapshot:
    if: github.repository_owner == 'knpkv'
    name: Snapshot
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        uses: ./.github/actions/setup
        with:
          node-version: 24.10.0
      - name: Build
        run: pnpm build
      - name: Publish
        run: pnpx pkg-pr-new@0.0.28 publish --pnpm --comment=off ./packages/*
